<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mainlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mainlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalYearProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".BookOrderActivity"
            android:exported="false" />
        <activity
            android:name=".QrCodeActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.ViewAllCustomerActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0qy1LtaXg1Tf3uleHOmvRL0-1y8ld0f8" />

        <activity
            android:name=".Admin.AdapterClass.ViewAllUserLocationMapActivity"
            android:exported="false"
            android:label="@string/title_activity_view_all_user_location_map" />
        <activity
            android:name=".Admin.AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateMyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryWiseEventActivity"
            android:exported="false" />
        <activity
            android:name=".SetUpNewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordVerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmRegisterMobileNoActivity"
            android:exported="false" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>